html, body {
	text-rendering: optimizeLegibility; // Allow the font to show up smoother on higher density displays, proving a more clear using experiance
	-webkit-font-smoothing: antialiased; // Allow the font to show up smoother on higher density displays, proving a more clear using experiance
	-moz-osx-font-smoothing: grayscale; // Chrome on OS X doesn't support antialiasing, this should help it, just a little
}

main {
	background: #ffffff;
}