.billboard {
	padding-bottom: 285px;
	text-align: center;
	overflow-x: hidden;
	position: relative;
	background-size: cover;
	background-position: top -80px;
	background-image: url('/assets/global/images/scenery/image_1.jpg');
	color: lighten($text-color, 80%);
	.playerBox {
		min-height: 1024px;
		min-width: 1770px;
		margin-top: -50px !important;
	}
	.inner-billboard {
		margin-top: 325px;
		z-index: 200;
		padding: 11px 18px;
		position: relative;
		background:rgba(0, 0, 0, .7);
		text-align: right;
		h1 {
			color: #a1a1a1;
			img {
				width: 100%;
			}
		}
		p {
			font-size: 16px;
		}
		@media (max-width: $screen-sm-min) {
			margin-top: 155px;
		}
	}
}