.btn-raised {
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	border-style: solid;
	// .btn-raised - a button which adopts the default Bootstrap (getbootstrap.com) button, but gives the effect of a 3D button using `box-shadow`
}

.icon-bar {
	background-color: darken($brand-primary, 10%) !important; // Custom branding color for dropdown bars on small screens (screen-sm-min)
}