footer {
	background: transparent url('/assets/global/images/scenery/image_0.jpg') left 50% no-repeat; // This will give the (soon to be) filtered out background image as the background for the whole footer
	background-size: cover; // and this will stretch the background image to fit the whole of the footer container
	.sitemap {
		padding: 60px 0;
		background-color: rgba(darken($brand-primary, 80%), .7); // Give the top section of the footer a "dark filter" effect over the footer
		color: lighten($brand-primary, 60%); // this will lighten the sitemap link colors
		.link-list {
			padding: 8px 0; // seperate the links
			list-style: none; // remove the default list bullets
			li {
				padding: 6px 0; // add padding for easier tapping on mobile
				a {
					&:hover {
						text-decoration: none;
						color: #ffffff;
					}
				}
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		.media-list {
			a {
				i[class*="fa-"] {
					padding: 8px 8px 8px 9px;
					width: 30px;
					height: 30px;
					text-align: center;
					margin: 0 4px;
					margin-right: 12px;
					font-size: 15px;
					color: #ffffff;
				}
				&:hover {
					text-decoration: none;
					color: #ffffff;
				}
			}
			// .media-list - the list of social media brands
		}
		.branding {
			padding-right: 30px;
			line-height: 1.6em;
			// .branding - the hosting text in the first column of the footer
		}
		.footer-logo {
			margin-top: 30px;
			width: 100px;
			height: auto;
			margin-bottom: 35px;
			// .footer-logo - the logo of the brand in the footer, first column
		}
		h1 {
			font-family: $font-family-sans-serif;
			font-size: 16px; // set the font size for the sitemap column titles
		}
	}
	.tail {
		padding: 30px 0;
		font-size: 12px;
		text-align: center;
		background-color: rgba(darken($brand-primary, 80%), 1);
		color: rgba(lighten($brand-primary, 80%), .5);
		// .tail - the last section of the footer, which holds the maintained by and licence message
	}
}