header {
	background: transparent url('/assets/global/images/scenery/image_0.jpg') left 22% no-repeat;
	background-size: 200%;
	position: relative;
	z-index: $zindex-navbar-fixed;
	.leading-navigation {
		padding: 4px 18px 10px;
		.font-increment {
			padding: 2px 28px 0 0;
			float: right;
			i {
				line-height: 1.8em;
				font-size: 16px;
				color: $text-light;
				letter-spacing: 2px;
			}
			// font size + and -
		}
		.contact-information {
			padding-right: 38px;
			text-align: right;
			float: right;
			font-size: 13px;
			li {
				padding: 2px 0;
				.flag-icon {
					margin-right: 6px;
				}
				a {
					color: rgba(lighten($text-color, 10%), .7);
					.custom-icon {
						width: auto;
						height: 20px;
						margin-top: -1px;
						margin-right: 6px;
						// whatsapp logo, ect, next to the cell number
					}
					&:hover {
						color: #888888;
						text-decoration: none;
					}
				}
				[itemprop="telephone"] {
					font-size: 14px;
				}
			}
		}
	}
	.alert {
		padding: 8px 12px;
		padding-left: 28px;
		line-height: 2em;
		margin: 0;
		border-radius: 0;
		background: darken($brand-primary, 30%);
		color: lighten($brand-primary, 30%);
		.heading {
			padding-right: 13px;
		}
		.close {
			top: 2px;
		}
	}
	.alert-flash {
		background-color: darken($brand-info, 30%);
		color: lighten($brand-info, 30%);
	}
	@media (max-width: $screen-sm-min) {
		background-image: none;
		background-color: rgba($brand-primary, .1);
		overflow-x:  hidden;
		position: relative;
		.alert {
			padding-left: 0;
			.heading {
				padding-right: 3px;
			}
		}
		.leading-navigation {
			margin: 0;
			padding: 0;
			.font-increment,
			.contacting-information {
				display: block;
			}
			.font-increment {
				text-align: center;
				font-size: 24px;
				padding: 18px 0 4px;
				line-height: 1.4em;
				float: none;
				margin: 0;
				i {
					&:first-child,
					&:last-child {
						margin: 3px 6px;
						padding: 8px 23px;
					}
				}
			}
			.contact-information {
				padding: 12px 0;
				text-align: center;
				float: none;
				[itemprop="telephone"] {
					font-size: 16px;
				}
			}
		}
	}
}