.extraContainerMargin, .extraRowMargin {
	margin-top: 40px;
	margin-bottom: 40px;
}
.pageDivision {
	margin: 45px -18px;
	padding: 250px 0;
	text-align: center;
	h1 {
		color: #ffffff;
		font-size: 42px;
	}
}

#console {
	margin: 1600px 0;
}