.navbar {
	border-radius: none;
	padding: 30px 0 0;
	margin-bottom: 0;
	background: transparent;
	.navbar-brand {
		font-size: 24px;
		font-family: $headings-font-family;
		color: #242424;
		.brand-logo {
			height: 60px;
			width: auto;
			float: left;
			margin: -25px 15px 0 0;
		}
	}
	.nav {
		a {
			color: #666;
			background: transparent;
			&:hover {
				color: #888888;
				background: transparent;
			}
		}
		.dropdown {
			.dropdown-toggle {
				.flag-icon {
					margin: 0 4px 0px 11px;
				}
			}
			.dropdown-menu {
				padding-top: 0;
				padding-bottom: 0;
				li {
					a {
						padding: 14px 6px 14px 20px;
						font-size: $font-size-base;
						border-top: 1px solid transparent;
						border-bottom: 1px solid transparent;
						color: #212121;
						.flag-icon {
							margin-right: 6px;
						}
						&:hover {
							border-top: 1px solid #eee;
							border-bottom: 1px solid #eee;
							color: #121212;
							background: lighten(#dddddd, 20%);
						}
					}
					&:first-child {
						a {
							&:hover {
								border-top: 1px solid transparent
							}
						}
					}
					&:last-child {
						a {
							&:hover {
								border-bottom: 1px solid transparent
							}
						}
					}
				}
			}
		}
		.open {
			.dropdown-toggle {
				background: rgba(#f2f2f2, .4);
				&:focus {
					background: rgba(#f2f2f2, .4);
					color: #888888;
				}
			}
		}

	}
	@media (max-width: $screen-sm-min) {
		padding: 6px 0;
		.navbar-brand {
			font-size: 24px;
			.brand-logo {
				height: 35px;
				width: auto;
				float: left;
				margin-right: 15px;
				margin-left: -7px;
				margin-top: -11px;
			}
		}
	}
}