@mixin social-icon($color) {
	background-color: $color;
	&:hover {
		background-color: lighten($color, 5%);
	}
}
header {
	.icon-row {
		padding-top: 13px;
		padding-left: 22px;
		i[class*="fa-"] {
			padding: 8px 8px 8px 9px;
			width: 30px;
			height: 30px;
			text-align: center;
			margin: 0 4px;
			font-size: 15px;
			color: #ffffff;
		}
		@media (max-width: $screen-sm-min) {
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: left;
			i[class*="fa-"] {
				padding: 15px 15px;
				width: 25%;
				height: 100%;
				margin: 0;
				float: left;
			}
		}
	}
}
.fa-twitter {
	@include social-icon($twitter);
}
.fa-facebook {
	@include social-icon($facebook);
}
.fa-google-plus {
	@include social-icon($google);
}
.fa-pinterest {
	@include social-icon($pinterest);
}
.fa-instagram {
	@include social-icon($instagram);
}
.fa-vine {
	@include social-icon($vine);
}
.fa-flickr {
	@include social-icon($flickr);
}
.fa-tumblr {
	@include social-icon($tumblr);
}
.fa-foursquare {
	@include social-icon($foursquare);
}
.fa-vimeo {
	@include social-icon($vimeo);
}
.fa-youtube {
	@include social-icon($youtube);
}