/*
 |-------------------------------------------------------------------------
 | Branding Variables
 |-------------------------------------------------------------------------
 | This section has been created from the Bootstrap `_variables.scss` file
 | and the original variables have been removed from that file and place
 | in this merged stylesheet.
 */

// Brand Colouring
$brand-primary:		#D79D04 !default;
$brand-success:		#229C79 !default;
$brand-info:		#584304 !default;
$brand-warning:		#FCD614 !default;
$brand-danger:		#D93D04 !default;

// Text Colouring
$body-bg: 			#ffffff !default; // brand body background colour
$text-color:		#232323 !default; // brand body text colour
$text-light:		#8c989e !default; // lighter brand body text colour

// Branding Font Import
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Lora:400,700|Varela+Round);

// Branding Font Family
$font-family-sans-serif:		'Varela Round', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:				14px !default;

// Branding Heading Font Family
$headings-font-family:			Lora, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-weight:			400 !default;
$headings-line-height:			1.1 !default;
$headings-color:				inherit !default;

// Link Style
$link-color:					$brand-primary !default;
$link-hover-color:				darken($link-color, 15%) !default;
$link-hover-decoration: 		underline !default;

// Social Media Brand Colouring
$twitter:						#00a0d1 !default;
$facebook:						#3b5998 !default;
$google:						#db4a39 !default;
$pinterest:						#c8232c !default;
$instagram:						#34495e !default;
$vine:							#00bf8f !default;
$flickr:						#ff0084 !default;
$tumblr:						#32506d !default;
$foursquare:					#0072b1 !default;
$vimeo:							#aad450 !default;
$youtube:						#bb0000 !default;

/*
|--------------------------------------------------------------------------
| Core Package CSS
|--------------------------------------------------------------------------
|
*/
@import 'packages/bootstrap/styles/bootstrap.scss'; // Bootstrap by Twitter
@import 'packages/font-awesome/font-awesome.scss'; // Font Awesome

/*
 |-------------------------------------------------------------------------
 | Custom Template CSS
 |-------------------------------------------------------------------------
 |
 */
@import 'source/global/styles/base.scss';
@import 'source/global/styles/layout.scss';
@import 'source/global/styles/flag.scss';
@import 'source/global/styles/social-icon.scss';
@import 'source/global/styles/header.scss';
@import 'source/global/styles/navigation.scss';
@import 'source/global/styles/footer.scss';
@import 'source/global/styles/button.scss';
@import 'source/global/styles/billboard.scss';